html{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

.container1{
    display:flex;
    flex-direction:row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.form-container1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.form-logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 35px;
}

.form-container1 input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition:border 0.3s;
}

.form-container1 input:focus{
    outline: none;
    border-color:#f4f27e;;

}

.role{
    width: 106%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.role:focus{
    outline: none;
    border-color:#f4f27e;;
}



.form-container1 button{
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid #ccc; */
    /* width: 100%; */
    background-color:rgba(211, 211, 211, 0.5);
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
    color: #aab35a;
    /* box-shadow:0 0 0 1px rgba(34, 51, 129, 0.5); */
}

.form-container1 button:focus{
    outline: none;
}

.form-container1 button:hover{
    background-color: #eaf492;
    outline: none;
}



