.main-content {
  padding: 24px;
  background: #f4f6fb;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  transition: all 0.25s ease;
  width: 100%;
}

.main-content.with-form {
  grid-template-columns: 300px 1fr;
}

/* FORM COLUMN */
.form-column {
  display: none;
}

.main-content.with-form .form-column {
  display: block;
}

/* GLASS FORM */
.glass-form {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.form-header button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* INPUTS */
.glass-form input {
  width: 90%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 12px;
  outline: none;
}


.glass-form input:focus{
   border: 2px solid #223381;
}

.glass-form button {
  width: 50%;
  height: 30px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #1a73e8;
  color: white;
  font-weight: 500;
}

#small {
  width: 30%;
  height: 30px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #423b9a6a;
  color: white;
  font-weight: 500;
}
/* TABLE */
.table-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.create-btn {
  background: #1a73e8;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}


.table-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.form-header h3{
  font-size: 18px;
  font-weight: 600;
  color: #223381; 

}

